<!doctype html>
<html>
   <head>
       <style>

        p {text-align:center;color:blue;}
        .tg  {border-collapse:collapse;border-spacing:0;border-color:#999;border-width:0px;border-style:solid;text-align: center}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
        .tg .tg-6f4q{font-size:20px;font-family:Arial, Helvetica, sans-serif !important;;background-color:#26ade4;color:#ffffff;border-color:#000000;text-align:center;vertical-align:top}
        .tg .tg-3a3g{font-size:14px;font-family:Arial, Helvetica, sans-serif !important;;text-align:center;vertical-align:top}
        .tg .tg-lrzf{font-size:14px;font-family:Arial, Helvetica, sans-serif !important;;text-align:center}
        </style>

      <title>Water Source</title>
      <meta http-equiv="refresh" content="60" >
       <link rel="stylesheet" href="{{ url_for('static', filename='css/water_source_buttons.css') }}" rel="stylesheet" type="text/css">
      <link rel="icon" type="image/png" href="{{url_for('static', filename='gardenpi_favicon.png')}}">
       <script src="{{url_for('static', filename='steelseries.js')}}"></script>
   </head>
   <body onload=init()>
      <p>

         <img src="{{url_for('static', filename='well.png')}}" height="250" width="250"><br>
         <iframe src="http://free.timeanddate.com/clock/i767eypi/n197/tct/pct/ftb/tt0/th2" frameborder="0" width="332" height="18" allowTransparency="true"></iframe>
      </p><center>

      <table>

          <tr>{% if any_zones_running %}
              <td><center><a class="source_change_disabled_button">Change Disabled</a></td>
              {% else %}
                  {% if not fresh_enabled and not fish_available %}
                  <td><center><a class="no_source_warning_button">No Source Available!</a></td>
                  {% elif not fresh_enabled and not fish_enabled %}
                  <td><center><a class="no_source_warning_button">No Source Available!</a></td>
                  {% elif selected_source == 'fresh_water' and not fresh_enabled %}
                  <td><center><a class="no_fresh_source_warning_button"href="{{ url_for('toggle_water_source') }}">Fresh Source Unavailable!</a></td>
                  {% elif selected_source == 'fish_water' %}
                      {% if not fish_enabled or not fish_available %}
                       <td><center><a class="no_fish_source_warning_button"href="{{ url_for('toggle_water_source') }}">Fish Source Unavailable!</a></td>
                  {% else %}
                  <td><center><a class="fish_water_button" href="{{ url_for('toggle_water_source') }}">Source - Fish Water</a></td>
                      {% endif %}
                  {% elif selected_source == 'automatic_water' %}
                  <td><center><a class="automatic_button" href="{{ url_for('toggle_water_source') }}">Source - Automatic</a></td>
                  {% elif selected_source == 'fresh_water' %}
                  <td><center><a class="fresh_water_button" href="{{ url_for('toggle_water_source') }}">Source - Fresh</a></td>
                   {% endif %}
              {% endif %}
          </tr>

          <tr></tr> <tr></tr>

          <tr>
           <td><center> {% if fresh_enabled and not is_fresh_zone_running %}
               <a class="fresh_water_enabled_button" href="{{ url_for('toggle_source_zones', zone = 'fresh') }}">Fresh Water</a>
               {% elif not is_fresh_zone_running %}
               <a class="fresh_water_disabled_button" href="{{ url_for('toggle_source_zones', zone = 'fresh') }}">Fresh - Disabled</a>
               {% else %}
               <td></td>
               {% endif %}
           </td>

          <tr>
           <td><center>
               {% if not fish_available %}
               <a class="fish_water_disabled_button">Fish - Unavailable</a>
               {% elif fish_enabled and not is_fish_zone_running %}
               <a class="fish_water_enabled_button" href="{{ url_for('toggle_source_zones', zone = 'fish') }}">Fish Water</a>
               {% elif not is_fish_zone_running %}
               <a class="fish_water_disabled_button" href="{{ url_for('toggle_source_zones', zone = 'fish') }}">Fish - Disabled</a>

               {% else %}
               <td></td>
               {% endif %}
           </td>
          </tr>

          <tr>
           <td><center>
               <a class="home_button" href="{{ url_for('gardenpi') }}">Back Home</a>
           </td>
          </tr>


          <tr>
              <td><br>
                 <img src="{{url_for('static', filename='splash.jpg')}}" height="200" width="600">
              </td>
          </tr>
      </table>
