<head>
       <style>

        p {text-align:center;color:blue;}
        .tg  {border-collapse:collapse;border-spacing:0;border-color:#999;border-width:0px;border-style:solid;text-align: center}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
        .tg .tg-6f4q{font-size:20px;font-family:Arial, Helvetica, sans-serif !important;;background-color:#26ade4;color:#ffffff;border-color:#000000;text-align:center;vertical-align:top}
        .tg .tg-3a3g{font-size:14px;font-family:Arial, Helvetica, sans-serif !important;;text-align:center;vertical-align:top}
        .tg .tg-lrzf{font-size:14px;font-family:Arial, Helvetica, sans-serif !important;;text-align:center}
        </style>

      <title>GardenPi Zone Control</title>
      <meta http-equiv="refresh" content="60" >
      <script src="{{url_for('static', filename='steelseries-min.js')}}"></script>
       <link rel="stylesheet" href="{{ url_for('static', filename='css/zone_control_buttons.css') }}" rel="stylesheet" type="text/css">
      <link rel="icon" type="image/png" href="{{url_for('static', filename='gardenpi_favicon.png')}}">
   </head>

<body>
      <p>

         <img src="{{url_for('static', filename='watering.png')}}" height="200" width="200"><br><br>
         <iframe src="http://free.timeanddate.com/clock/i767eypi/n197/tct/pct/ftb/tt0/th2" frameborder="0" width="332" height="18" allowTransparency="true"></iframe>
      </p><center>
      <table>

          <tr> {% if zone1 %}
              <td><center><a class="zone_running_button" href="{{ url_for('zone', id = 1) }}">Zone One Running</a></td>
              {% else %}
              <td><center><a class="zone1_button" href="{{ url_for('zone', id = 1) }}">Zone One</a></td>
              {% endif %}
          </tr>

          <tr></tr> <tr></tr>

          <tr> {% if zone2 %}
              <td><center><a class="zone_running_button" href="{{ url_for('zone', id = 2) }}">Zone Two Running</a></td>
              {% else %}
              <td><center><a class="zone2_button" href="{{ url_for('zone', id = 2) }}">Zone Two</a></td>
              {% endif %}
          </tr>
          <tr></tr>

          <tr> {% if zone3 %}
              <td><center><a class="zone_running_button" href="{{ url_for('zone', id = 3) }}">Zone Three Running</a></td>
              {% else %}
              <td><center><a class="zone3_button" href="{{ url_for('zone', id = 3) }}">Zone Three</a></td>
              {% endif %}
          </tr>

          <tr> {% if zone4 %}
              <td><center><a class="zone_running_button" href="{{ url_for('zone', id = 4) }}">Zone Four Running</a></td>
              {% else %}
              <td><center><a class="zone4_button" href="{{ url_for('zone', id = 4) }}">Zone Four</a></td>
              {% endif %}
          </tr>

          <tr></tr> <tr></tr>

           <tr> {% if zone5 %}
              <td><center><a class="zone_running_button" href="{{ url_for('zone', id = 5) }}">Zone Five Running</a></td>
              {% else %}
              <td><center><a class="zone5_button" href="{{ url_for('zone', id = 5) }}">Zone Five</a></td>
              {% endif %}
          </tr>
          <tr></tr>

          <tr> {% if zone6 %}
              <td><center><a class="zone_running_button" href="{{ url_for('zone', id = 6) }}">Zone Six Running</a></td>
              {% else %}
              <td><center><a class="zone6_button" href="{{ url_for('zone', id = 6) }}">Zone Six</a></td>
              {% endif %}
          </tr>

          <tr>
           <td><center>
               <a class="home_button" href="{{ url_for('gardenpi') }}">Home</a>
           </td>
          </tr>

          <tr>
              <td><br><br><br><br>
                 <img src="{{url_for('static', filename='garden.jpg')}}" height="200" width="600">
              </td>
          </tr>



      </body>


