SQLAlchemy==1.3.18
Flask==1.1.2
attr==0.3.1
configparser==5.0.0
Flask-WTF==0.14.3
influxdb==5.3.0
influxdb-client==1.9.0
Jinja2==2.11.2
mysql-connector-python==8.0.21
mysqlclient==2.0.1
PyMySQL==0.10.0
pyserial==3.4
PyYAML==5.3.1
RPi.GPIO==0.7.0
Werkzeug==1.0.1
WTForms==2.3.3
WTForms-Components==0.10.4
sentry-sdk==0.16.2
adafruit-circuitpython-bme280==2.4.3
pi-ina219==1.3.0
pushbullet.py==0.11.0
twilio==6.44.1
wiringpi==2.60.0
wiringpi2==2.32.3

