.fresh_water_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 25px 60px;
    border: 1px solid #1d85ae;
    border-radius: 8px;
    width: 300px;
    background: #2fd8ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#2fd8ff), to(#1d85ae));
    background: -moz-linear-gradient(top, #2fd8ff, #1d85ae);
    background: linear-gradient(to bottom, #2fd8ff, #1d85ae);
    text-shadow: #12536d 1px 1px 1px;
    font: normal normal bold 25px arial;
    color: #ffffff;
    text-decoration: none;
}
.fresh_water_button:hover,
.fresh_water_button:focus {
    border: 1px solid #26aee4;
    background: #3bffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#3bffff), to(#24a7da));
    background: -moz-linear-gradient(top, #3bffff, #24a7da);
    background: linear-gradient(to bottom, #3bffff, #24a7da);
    color: #ffffff;
    text-decoration: none;
}
.fresh_water_button:active {
    background: #1e8bb6;
    background: -webkit-gradient(linear, left top, left bottom, from(#1e8bb6), to(#1e8bb6));
    background: -moz-linear-gradient(top, #1e8bb6, #1e8bb6);
    background: linear-gradient(to bottom, #1e8bb6, #1e8bb6);
}
.fresh_water_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 58px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -55px;
    background: url(house_on.png) no-repeat left center transparent;
    background-size: 100% 100%;
}


.fish_water_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 25px 60px;
    border: 1px solid #1d85ae;
    border-radius: 8px;
    width: 300px;
    background: #2fd8ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#2fd8ff), to(#1d85ae));
    background: -moz-linear-gradient(top, #2fd8ff, #1d85ae);
    background: linear-gradient(to bottom, #2fd8ff, #1d85ae);
    text-shadow: #12536d 1px 1px 1px;
    font: normal normal bold 25px arial;
    color: #ffffff;
    text-decoration: none;
}
.fish_water_button:hover,
.fish_water_button:focus {
    border: 1px solid #26aee4;
    background: #3bffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#3bffff), to(#24a7da));
    background: -moz-linear-gradient(top, #3bffff, #24a7da);
    background: linear-gradient(to bottom, #3bffff, #24a7da);
    color: #ffffff;
    text-decoration: none;
}
.fish_water_button:active {
    background: #1e8bb6;
    background: -webkit-gradient(linear, left top, left bottom, from(#1e8bb6), to(#1e8bb6));
    background: -moz-linear-gradient(top, #1e8bb6, #1e8bb6);
    background: linear-gradient(to bottom, #1e8bb6, #1e8bb6);
}
.fish_water_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 58px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -30px;
    background: url(aquarium_on.png) no-repeat left center transparent;
    background-size: 100% 100%;
}


.home_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 25px 60px;
    border: 1px solid #1d85ae;
    border-radius: 8px;
    width: 300px;
    background: #2fd8ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#2fd8ff), to(#1d85ae));
    background: -moz-linear-gradient(top, #2fd8ff, #1d85ae);
    background: linear-gradient(to bottom, #2fd8ff, #1d85ae);
    text-shadow: #12536d 1px 1px 1px;
    font: normal normal bold 30px arial;
    color: #ffffff;
    text-decoration: none;
}
.home_button:hover,
.home_button:focus {
    border: 1px solid #26aee4;
    background: #3bffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#3bffff), to(#24a7da));
    background: -moz-linear-gradient(top, #3bffff, #24a7da);
    background: linear-gradient(to bottom, #3bffff, #24a7da);
    color: #ffffff;
    text-decoration: none;
}
.home_button:active {
    background: #1e8bb6;
    background: -webkit-gradient(linear, left top, left bottom, from(#1e8bb6), to(#1e8bb6));
    background: -moz-linear-gradient(top, #1e8bb6, #1e8bb6);
    background: linear-gradient(to bottom, #1e8bb6, #1e8bb6);
}
.home_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 58px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -60px;
    background: url(home_icon.png) no-repeat left center transparent;
    background-size: 100% 100%;
}




.water_source_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 25px 60px;
    border: 1px solid #1d85ae;
    border-radius: 8px;
    width: 300px;
    background: #2fd8ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#2fd8ff), to(#1d85ae));
    background: -moz-linear-gradient(top, #2fd8ff, #1d85ae);
    background: linear-gradient(to bottom, #2fd8ff, #1d85ae);
    text-shadow: #12536d 1px 1px 1px;
    font: normal normal bold 30px arial;
    color: #ffffff;
    text-decoration: none;
}
.water_source_button:hover,
.water_source_button:focus {
    border: 1px solid #26aee4;
    background: #3bffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#3bffff), to(#24a7da));
    background: -moz-linear-gradient(top, #3bffff, #24a7da);
    background: linear-gradient(to bottom, #3bffff, #24a7da);
    color: #ffffff;
    text-decoration: none;
}
.water_source_button:active {
    background: #1e8bb6;
    background: -webkit-gradient(linear, left top, left bottom, from(#1e8bb6), to(#1e8bb6));
    background: -moz-linear-gradient(top, #1e8bb6, #1e8bb6);
    background: linear-gradient(to bottom, #1e8bb6, #1e8bb6);
}
.water_source_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 48px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -30px;
    background: url(well.png) no-repeat left center transparent;
    background-size: 100% 100%;
}

.fish_water_enabled_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 25px 60px;
    border: 1px solid #00a300;
    border-radius: 8px;
    width: 300px;
    background: #00ff00;
    background: -webkit-gradient(linear, left top, left bottom, from(#00ff00), to(#00a300));
    background: -moz-linear-gradient(top, #00ff00, #00a300);
    background: linear-gradient(to bottom, #00ff00, #00a300);
    text-shadow: #006600 1px 1px 1px;
    font: normal normal bold 30px arial;
    color: #ffffff;
    text-decoration: none;
}
.fish_water_enabled_button:hover,
.fish_water_enabled_button:focus {
    border: 1px solid #00cc00;
    background: #00ff00;
    background: -webkit-gradient(linear, left top, left bottom, from(#00ff00), to(#00c400));
    background: -moz-linear-gradient(top, #00ff00, #00c400);
    background: linear-gradient(to bottom, #00ff00, #00c400);
    color: #ffffff;
    text-decoration: none;
}
.fish_water_enabled_button:active {
    background: #00a300;
    background: -webkit-gradient(linear, left top, left bottom, from(#00a300), to(#00a300));
    background: -moz-linear-gradient(top, #00a300, #00a300);
    background: linear-gradient(to bottom, #00a300, #00a300);
}
.fish_water_enabled_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 58px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -68px;
    background: url(aquarium_on.png) no-repeat left center transparent;
    background-size: 100% 100%;
}


.fish_water_disabled_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 25px 60px;
    border: 1px solid #ac9091;
    border-radius: 8px;
    width: 300px;
    background: #f5cdcf;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5cdcf), to(#ac9091));
    background: -moz-linear-gradient(top, #f5cdcf, #ac9091);
    background: linear-gradient(to bottom, #f5cdcf, #ac9091);
    text-shadow: #ffffff 1px 1px 1px;
    font: normal normal bold 25px arial;
    color: #111111;
    text-decoration: none;
}
.fish_water_disabled_button:hover,
.fish_water_disabled_button:focus {
    border: 1px solid ##f5cdcf;
    background: #fff6f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff6f8), to(#ceadae));
    background: -moz-linear-gradient(top, #fff6f8, #ceadae);
    background: linear-gradient(to bottom, #fff6f8, #ceadae);
    color: #111111;
    text-decoration: none;
}
.fish_water_disabled_button:active {
    background: #ac9091;
    background: -webkit-gradient(linear, left top, left bottom, from(#ac9091), to(#ac9091));
    background: -moz-linear-gradient(top, #ac9091, #ac9091);
    background: linear-gradient(to bottom, #ac9091, #ac9091);
}
.fish_water_disabled_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 58px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -58px;
    background: url(aquarium_off.png) no-repeat left center transparent;
    background-size: 100% 100%;
}

.fresh_water_enabled_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 25px 60px;
    border: 1px solid #00a300;
    border-radius: 8px;
    width: 300px;
    background: #00ff00;
    background: -webkit-gradient(linear, left top, left bottom, from(#00ff00), to(#00a300));
    background: -moz-linear-gradient(top, #00ff00, #00a300);
    background: linear-gradient(to bottom, #00ff00, #00a300);
    text-shadow: #006600 1px 1px 1px;
    font: normal normal bold 30px arial;
    color: #ffffff;
    text-decoration: none;
}
.fresh_water_enabled_button:hover,
.fresh_water_enabled_button:focus {
    border: 1px solid #00cc00;
    background: #00ff00;
    background: -webkit-gradient(linear, left top, left bottom, from(#00ff00), to(#00c400));
    background: -moz-linear-gradient(top, #00ff00, #00c400);
    background: linear-gradient(to bottom, #00ff00, #00c400);
    color: #ffffff;
    text-decoration: none;
}
.fresh_water_enabled_button:active {
    background: #00a300;
    background: -webkit-gradient(linear, left top, left bottom, from(#00a300), to(#00a300));
    background: -moz-linear-gradient(top, #00a300, #00a300);
    background: linear-gradient(to bottom, #00a300, #00a300);
}
.fresh_water_enabled_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 58px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -60px;
    background: url(house_on.png) no-repeat left center transparent;
    background-size: 100% 100%;
}


.fresh_water_disabled_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 25px 60px;
    border: 1px solid #ac9091;
    border-radius: 8px;
    width: 300px;
    background: #f5cdcf;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5cdcf), to(#ac9091));
    background: -moz-linear-gradient(top, #f5cdcf, #ac9091);
    background: linear-gradient(to bottom, #f5cdcf, #ac9091);
    text-shadow: #ffffff 1px 1px 1px;
    font: normal normal bold 25px arial;
    color: #111111;
    text-decoration: none;
}
.fresh_water_disabled_button:hover,
.fresh_water_disabled_button:focus {
    border: 1px solid ##f5cdcf;
    background: #fff6f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff6f8), to(#ceadae));
    background: -moz-linear-gradient(top, #fff6f8, #ceadae);
    background: linear-gradient(to bottom, #fff6f8, #ceadae);
    color: #111111;
    text-decoration: none;
}
.fresh_water_disabled_button:active {
    background: #ac9091;
    background: -webkit-gradient(linear, left top, left bottom, from(#ac9091), to(#ac9091));
    background: -moz-linear-gradient(top, #ac9091, #ac9091);
    background: linear-gradient(to bottom, #ac9091, #ac9091);
}
.fresh_water_disabled_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 58px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -50px;
    background: url(house_off.png) no-repeat left center transparent;
    background-size: 100% 100%;
}

.automatic_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 25px 60px;
    border: 1px solid #1d85ae;
    border-radius: 8px;
    width: 300px;
    background: #2fd8ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#2fd8ff), to(#1d85ae));
    background: -moz-linear-gradient(top, #2fd8ff, #1d85ae);
    background: linear-gradient(to bottom, #2fd8ff, #1d85ae);
    text-shadow: #12536d 1px 1px 1px;
    font: normal normal bold 25px arial;
    color: #ffffff;
    text-decoration: none;
}
.automatic_button:hover,
.automatic_button:focus {
    border: 1px solid #24a6da;
    background: #38ffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#38ffff), to(#23a0d1));
    background: -moz-linear-gradient(top, #38ffff, #23a0d1);
    background: linear-gradient(to bottom, #38ffff, #23a0d1);
    color: #ffffff;
    text-decoration: none;
}
.automatic_button:active {
    background: #1d85ae;
    background: -webkit-gradient(linear, left top, left bottom, from(#1d85ae), to(#1d85ae));
    background: -moz-linear-gradient(top, #1d85ae, #1d85ae);
    background: linear-gradient(to bottom, #1d85ae, #1d85ae);
}
.automatic_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 58px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -35px;
    background: url(smart-city_on.png) no-repeat left center transparent;
    background-size: 100% 100%;
}

.no_source_warning_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 25px 60px;
    border: 1px solid #ce0a0a;
    border-radius: 8px;
    width: 300px;
    background: #ff1313;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff1313), to(#ce0a0a));
    background: -moz-linear-gradient(top, #ff1313, #ce0a0a);
    background: linear-gradient(to bottom, #ff1313, #ce0a0a);
    text-shadow: #790606 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.no_source_warning_button:hover,
.no_source_warning_button:focus {
    border: 1px solid #f20c0c;
    background: #ff1717;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff1717), to(#f70c0c));
    background: -moz-linear-gradient(top, #ff1717, #f70c0c);
    background: linear-gradient(to bottom, #ff1717, #f70c0c);
    color: #ffffff;
    text-decoration: none;
}
.no_source_warning_button:active {
    background: #ce0a0a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ce0a0a), to(#ce0a0a));
    background: -moz-linear-gradient(top, #ce0a0a, #ce0a0a);
    background: linear-gradient(to bottom, #ce0a0a, #ce0a0a);
}
.no_source_warning_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 58px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -50px;
    background: url(smart-city_off.png) no-repeat left center transparent;
    background-size: 100% 100%;
}

.no_fish_source_warning_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 25px 60px;
    border: 1px solid #ce0a0a;
    border-radius: 8px;
    width: 300px;
    background: #ff1313;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff1313), to(#ce0a0a));
    background: -moz-linear-gradient(top, #ff1313, #ce0a0a);
    background: linear-gradient(to bottom, #ff1313, #ce0a0a);
    text-shadow: #790606 1px 1px 1px;
    font: normal normal bold 19px arial;
    color: #ffffff;
    text-decoration: none;
}
.no_fish_source_warning_button:hover,
.no_fish_source_warning_button:focus {
    border: 1px solid #f20c0c;
    background: #ff1717;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff1717), to(#f70c0c));
    background: -moz-linear-gradient(top, #ff1717, #f70c0c);
    background: linear-gradient(to bottom, #ff1717, #f70c0c);
    color: #ffffff;
    text-decoration: none;
}
.no_fish_source_warning_button:active {
    background: #ce0a0a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ce0a0a), to(#ce0a0a));
    background: -moz-linear-gradient(top, #ce0a0a, #ce0a0a);
    background: linear-gradient(to bottom, #ce0a0a, #ce0a0a);
}
.no_fish_source_warning_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 58px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -30px;
    background: url(aquarium_off.png) no-repeat left center transparent;
    background-size: 100% 100%;
}

.no_fresh_source_warning_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 25px 60px;
    border: 1px solid #ce0a0a;
    border-radius: 8px;
    width: 300px;
    background: #ff1313;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff1313), to(#ce0a0a));
    background: -moz-linear-gradient(top, #ff1313, #ce0a0a);
    background: linear-gradient(to bottom, #ff1313, #ce0a0a);
    text-shadow: #790606 1px 1px 1px;
    font: normal normal bold 19px arial;
    color: #ffffff;
    text-decoration: none;
}
.no_fresh_source_warning_button:hover,
.no_fresh_source_warning_button:focus {
    border: 1px solid #f20c0c;
    background: #ff1717;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff1717), to(#f70c0c));
    background: -moz-linear-gradient(top, #ff1717, #f70c0c);
    background: linear-gradient(to bottom, #ff1717, #f70c0c);
    color: #ffffff;
    text-decoration: none;
}
.no_fresh_source_warning_button:active {
    background: #ce0a0a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ce0a0a), to(#ce0a0a));
    background: -moz-linear-gradient(top, #ce0a0a, #ce0a0a);
    background: linear-gradient(to bottom, #ce0a0a, #ce0a0a);
}
.no_fresh_source_warning_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 58px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -30px;
    background: url(house_off.png) no-repeat left center transparent;
    background-size: 100% 100%;
}

.source_change_disabled_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 25px 60px;
    border: 1px solid #ac9091;
    border-radius: 8px;
    width: 300px;
    background: #f5cdcf;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5cdcf), to(#ac9091));
    background: -moz-linear-gradient(top, #f5cdcf, #ac9091);
    background: linear-gradient(to bottom, #f5cdcf, #ac9091);
    text-shadow: #ffffff 1px 1px 1px;
    font: normal normal bold 25px arial;
    color: #111111;
    text-decoration: none;
}
.source_change_disabled_button:hover,
.source_change_disabled_button:focus {
    border: 1px solid ##f5cdcf;
    background: #fff6f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff6f8), to(#ceadae));
    background: -moz-linear-gradient(top, #fff6f8, #ceadae);
    background: linear-gradient(to bottom, #fff6f8, #ceadae);
    color: #111111;
    text-decoration: none;
}
.source_change_disabled_button:active {
    background: #ac9091;
    background: -webkit-gradient(linear, left top, left bottom, from(#ac9091), to(#ac9091));
    background: -moz-linear-gradient(top, #ac9091, #ac9091);
    background: linear-gradient(to bottom, #ac9091, #ac9091);
}
.source_change_disabled_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 58px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -58px;
    background: url(well.png) no-repeat left center transparent;
    background-size: 100% 100%;
}